.user-box {
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  padding: 1rem;
  gap: 1rem;
  transition: background-color 0.1s;
  cursor: pointer;
}

.user-box:hover {
  background-color: #252221;
}

.user-box:hover .avatar {
  background-color: #111;
}

.avatar {
  background-color: #252221;
  height: 2rem;
  width: 2rem;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.1s;
}

.name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  font-family: monospace;
  line-height: 1rem;
}

.title {
  color: rgba(255, 255, 255, 0.3);
  line-height: 1rem;
  font-size: 0.6rem;
  letter-spacing: 0.075rem;
}
