.card {
  background: #fff;
  padding: 1.25rem;
  border: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
}

.card > .left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card > .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.progress-bar {
  width: 100px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
}

.progress {
  transition: width 3s ease;
}

.car-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.car-info > div:first-child,
.entry > div:first-child {
  font-size: 0.65rem;
  color: #888;
  text-transform: uppercase;
}

.car-info > div:nth-child(2) {
  font-size: 1.2rem;
}

/* status badge */
.status {
  border: 1px solid rgb(33, 62, 155);
  color: rgb(33, 62, 155);
  background-color: rgb(227, 232, 250);
  padding: 0.25rem 0.5rem;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.service,
.entry > div:last-child {
  font-family: monospace;
  color: #444;
  font-size: 0.8rem;
}

.entries {
  margin-top: 0.75rem;
  display: flex;
  gap: 2rem;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.25rem;
}

button {
  border: 1px solid #bbb;
  color: #666;
  background: none;
  font-family: monospace;
  font-size: 0.7rem;
  padding: 0.125rem 0.5rem;
  background: #fff;
}

button:hover {
  background-color: #efefef;
  border: 1px solid #888;
  color: #555;
}

.button-green {
  border: 1px solid rgb(33, 155, 84);
  color: rgb(33, 155, 84);
  background-color: rgb(242, 247, 242);
}

.button-green:hover {
  background-color: rgb(226, 243, 226);
  border: 1px solid rgb(29, 136, 74);
  color: rgb(29, 136, 74);
}

.expanded-info {
  background: #f5f5f5;
  border: 1px solid #bbb;
  border-top: none;
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
}

.expanded-info > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  gap: 0.5rem;
}

.expanded-label {
  font-size: 0.65rem;
  color: #888;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid #bbb;
  width: 100%;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.note-block {
  display: flex;
  width: 100%;
  background-color: #bbb;
  gap: 1px;
  padding: 1px;
}

.note-block > div {
  padding: 0.5rem;
  font-size: 0.7rem;
  font-family: monospace;
}

.note-block > div:first-child {
  background-color: #e1e1e1;
  flex: 2;
}

.note-block > div:last-child {
  background-color: #f5f5f5;
  flex: 7;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1rem;
}

.contact-item > div:first-child {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #999;
  width: 64px;
}

.contact-item > div:last-child {
  font-size: 0.7rem;
  font-family: monospace;
  color: #222;
}

.note-input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.note-input,
.hours-input {
  border: 1px solid #aaa;
  border-right: none;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-family: monospace;
  flex-grow: 1;
}

.button-enter {
  color: #eee;
  background: #111;
  border: none;
  height: 100%;
  padding: 0 1rem;
}

.button-enter:hover {
  background: #444;
  border: none;
  color: #eee;
}

.button-close {
  height: 100%;
  font-size: 0.9rem;
  border-left: none;
  padding: 0 0.6rem;
}

.button-close:hover {
  border-left: none;
}

.hours-input-container {
  display: flex;
  align-items: center;
}

.units {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #888;
  background: #ddd;
  height: 100%;
  border: 1px solid #aaa;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.6rem;
}
