button {
  border: none;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.1s;
  color: rgba(255, 255, 255, 0.9);
  border-left: 3px solid transparent;
}

.button {
  background-color: transparent;
  opacity: 0.5;
}

.button-name {
  font-family: monospace;
}

.button-current {
  background-color: #252221;
  border-left: 3px solid rgb(255, 255, 255);
}

button:hover {
  background-color: #252221;
  opacity: 0.8;
}

.counter {
  background: #a14100;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
}
