<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast" [class]="toast.type" [class.removing]="toast.removing">
      <div>
        @switch (toast.type) {
          @case ('success') {
            <div style="font-size: 1.75rem">✓</div>
          }
          @case ('warning') {
            <div style="font-size: 1.75rem">!</div>
          }
          @case ('failure') {
            <div style="font-size: 1.75rem">🞮</div>
          }
          @case ('generic') {
            <div style="font-size: 1.75rem">🛈</div>
          }
        }
      </div>
      <div>{{ toast.message }}</div>
    </div>
  }
</div>
