.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.toast {
  padding: 0.75rem 1rem;
  background: #111;
  color: #eee;
  opacity: 1;
  transition: opacity 0.4s ease;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.toast.removing {
  opacity: 0;
}

.success {
  border: 1px solid rgb(33, 155, 84);
  color: rgb(33, 155, 84);
  background-color: rgb(242, 247, 242);
}

.failure {
  border: 1px solid rgb(155, 33, 33);
  color: rgb(155, 33, 33);
  background-color: rgb(250, 227, 227);
}

.generic {
  border: 1px solid rgb(33, 127, 155);
  color: rgb(33, 127, 155);
  background-color: rgb(242, 245, 247);
}
