<div class="background" (click)="closeModal(); $event.stopPropagation()">
  <div class="container" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="header-title">Check In Vehicle</div>
      <button class="close-button" (click)="closeModal()">⨯</button>
    </div>

    <form #checkInForm="ngForm" (ngSubmit)="onSubmit(checkInForm)">
      <div class="body">
        <div class="category-label">Vehicle</div>
        <div class="half-space"></div>

        <div class="field-row">
          <div class="field">
            <div class="field-label">Year</div>
            <select required name="" id="">
              <option value="" disabled selected hidden>Year</option>
              @for (year of years; track year) {
                <option [value]="year">{{ year }}</option>
              }
            </select>
            <!-- <input type="number" placeholder="2022" name="year" ngModel /> -->
          </div>
          <div class="field">
            <div class="field-label">Make</div>
            <select disabled name="" id="">
              <option value="">Make</option>
            </select>
            <!-- <input type="text" placeholder="Toyota" name="make" ngModel /> -->
          </div>
          <div class="field">
            <div class="field-label">Model</div>
            <select disabled name="" id="">
              <option value="">Model</option>
            </select>
            <!-- <input type="text" placeholder="Camry" name="model" ngModel /> -->
          </div>
        </div>

        <div class="half-space"></div>

        <div class="field-row">
          <div class="field" style="flex: 3">
            <div class="field-label">Service Requested</div>
            <input type="text" placeholder="Oil Change" name="serviceRequested" ngModel />
          </div>
          <div class="field" style="flex: 1">
            <div class="field-label">Estimated Hours</div>
            <input type="number" placeholder="1.5" name="estimatedHours" ngModel />
          </div>
        </div>

        <div class="space"></div>
        <div class="category-label">Customer</div>
        <div class="half-space"></div>

        <div class="field-row">
          <div class="field">
            <div class="field-label">Full Name</div>
            <input type="text" placeholder="John Smith" name="name" ngModel />
          </div>
          <div class="field">
            <div class="field-label">Phone Number</div>
            <input type="tel" placeholder="(817) 551-5794" name="phone" ngModel />
          </div>
        </div>

        <div class="half-space"></div>

        <div class="field-row">
          <div class="field">
            <div class="field-label">Email</div>
            <input type="email" placeholder="jsmith@email.com" name="email" ngModel />
          </div>
        </div>

        <div class="space"></div>
        <div style="display: flex; gap: 0.25rem; align-items: center">
          <input type="checkbox" name="assignToMe" ngModel />
          <div class="check-label">Assign to me</div>
        </div>
      </div>

      <div class="footer">
        <button type="button" class="cancel-button" (click)="closeModal()">Cancel</button>
        <button type="submit" class="confirm-button">Check In</button>
      </div>
    </form>
  </div>
</div>
