<div class="background" (click)="closeModal(); $event.stopPropagation()">
  <div class="container" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="header-title">Check In Vehicle</div>
      <button class="close-button" (click)="closeModal()">⨯</button>
    </div>

    <form #checkInForm="ngForm" (ngSubmit)="onSubmit(checkInForm)">
      <div class="body">
        <div class="category-label">Vehicle</div>
        <div class="half-space"></div>

        <div class="field-row">
          <!-- Year -->
          <div class="field">
            <div class="field-label">Year</div>
            <select required name="year" ngModel (ngModelChange)="onYearChange($event)">
              <option value="" disabled selected hidden>Year</option>
              @for (year of years; track year) {
                <option [value]="year">{{ year }}</option>
              }
            </select>
          </div>

          <!-- Make -->
          <div class="field">
            <div class="field-label">Make</div>
            <select
              required
              name="make"
              ngModel
              [disabled]="!makes.length"
              (ngModelChange)="onMakeChange($event)"
            >
              <option value="" disabled selected hidden>
                {{ loadingMakes ? 'Loading...' : 'Make' }}
              </option>
              @for (make of makes; track make.MakeId) {
                <option [value]="make.MakeName">{{ make.MakeName }}</option>
              }
            </select>
          </div>

          <!-- Model -->
          <div class="field">
            <div class="field-label">Model</div>
            <select required name="model" ngModel [disabled]="!models.length">
              <option value="" disabled selected hidden>
                {{ loadingModels ? 'Loading...' : 'Model' }}
              </option>
              @for (model of models; track model.Model_ID) {
                <option [value]="model.Model_Name">{{ model.Model_Name }}</option>
              }
            </select>
          </div>
        </div>

        <div class="half-space"></div>

        <div class="field-row">
          <div class="field" style="flex: 3">
            <div class="field-label">Service Requested</div>
            <input type="text" placeholder="Oil Change" name="serviceRequested" ngModel />
          </div>
          <div class="field" style="flex: 1">
            <div class="field-label">Estimated Hours</div>
            <input type="number" placeholder="1.5" name="estimatedHours" ngModel />
          </div>
        </div>

        <div class="space"></div>
        <div class="category-label">Customer</div>
        <div class="half-space"></div>

        <div class="field-row">
          <div class="field">
            <div class="field-label">Full Name</div>
            <input type="text" placeholder="John Smith" name="name" ngModel />
          </div>
          <div class="field">
            <div class="field-label">Phone Number</div>
            <input
              type="tel"
              placeholder="(817) 551-5794"
              name="phone"
              ngModel
              phoneFormat
              required
              [ngModelOptions]="{ updateOn: 'blur' }"
              #phone="ngModel"
              [ngModel]="phone.value"
              [class.invalid]="phone.invalid && phone.touched"
            />
          </div>
        </div>
        @if (phone.invalid && phone.touched) {
          <div class="ghost-container">
            <div style="justify-self: flex-end" class="field-error">
              Enter a valid 10-digit phone number
            </div>
          </div>
        }
        <div class="half-space"></div>

        <div class="field-row">
          <div class="field">
            <div class="field-label">Email</div>
            <input
              type="email"
              placeholder="jsmith@email.com"
              name="email"
              ngModel
              required
              #email="ngModel"
              [class.invalid]="email.invalid && email.touched"
            />
          </div>
        </div>

        @if (email.invalid && email.touched) {
          <div class="ghost-container">
            <div style="justify-self: flex-end" class="field-error">
              Enter a valid email address
            </div>
          </div>
        }

        <div class="space"></div>
        <div style="display: flex; gap: 0.25rem; align-items: center">
          <input type="checkbox" name="assignToMe" ngModel />
          <div class="check-label">Assign to me</div>
        </div>
      </div>

      <div class="footer">
        <button type="button" class="cancel-button" (click)="closeModal()">Cancel</button>
        <button type="submit" class="confirm-button">Check In</button>
      </div>
    </form>
  </div>
</div>
