<div class="background" (click)="closeModal(); $event.stopPropagation()">
  <div class="container" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="header-title">Check In Vehicle</div>
      <button class="close-button" (click)="closeModal()">⨯</button>
    </div>
    <div class="body">
      <div class="category-label">Vehicle</div>

      <div class="half-space"></div>

      <div class="field-row">
        <div class="field">
          <div class="field-label">Year</div>
          <input type="number" placeholder="2022" />
        </div>
        <div class="field">
          <div class="field-label">Make</div>
          <input type="text" placeholder="Toyota" />
        </div>
        <div class="field">
          <div class="field-label">Model</div>
          <div class="field"><input type="text" placeholder="Camry" /></div>
        </div>
      </div>

      <div class="half-space"></div>

      <div class="field-row">
        <div class="field" style="flex: 3">
          <div class="field-label">Service Requested</div>
          <input type="text" placeholder="Oil Change" />
        </div>
        <div class="field" style="flex: 1">
          <div class="field-label">Estimated Hours</div>
          <input type="number" placeholder="1.5" />
        </div>
      </div>
      <div class="space"></div>

      <div class="category-label">Customer</div>

      <div class="half-space"></div>

      <div class="field-row">
        <div class="field">
          <div class="field-label">Full Name</div>
          <input type="text" placeholder="John Smith" />
        </div>
        <div class="field">
          <div class="field-label">Phone Number</div>
          <input type="number" placeholder="(817) 551-5794" />
        </div>
      </div>

      <div class="half-space"></div>

      <div class="field-row">
        <div class="field">
          <div class="field-label">Email</div>
          <input type="text" placeholder="jsmith@email.com" />
        </div>
      </div>
      <div class="space"></div>
      <div style="display: flex; gap: 0.25rem; align-items: center">
        <input type="checkbox" name="" id="" />
        <div class="check-label">Assign to me</div>
      </div>
    </div>
    <div class="footer">
      <button class="cancel-button" (click)="closeModal()">Cancel</button>
      <button class="confirm-button">Check In</button>
    </div>
  </div>
</div>
