<div class="container">
  <div class="metrics">
    <div class="card">
      <div class="card-label">Total Vehicles</div>
      <div class="card-number">{{ workOrders.length }}</div>
    </div>
    <div class="card">
      <div class="card-label">Waiting</div>
      <div class="card-number">{{ waitingOrders().length }}</div>
    </div>
    <div class="card">
      <div class="card-label">In Progress</div>
      <div class="card-number">{{ inProgressOrders().length }}</div>
    </div>
    <div class="card">
      <div class="card-label">Completed</div>
      <div class="card-number">{{ completeOrders().length }}</div>
    </div>
    <div class="card">
      <div class="card-label">Hours Backlog</div>
      <div class="card-number">{{ totalEstimatedHours }}</div>
    </div>
    <div class="card">
      <!-- TODO: make this dynamic -->
      <div class="card-label">My Active Jobs</div>
      <div class="card-number">1</div>
    </div>
  </div>

  <div>
    <div class="title">
      <div>ACTIVE QUEUE</div>
      <div>{{ activeOrders().length }} jobs</div>
    </div>
    <div class="module">
      <div class="filters">
        <button
          (click)="selectedFilter.set('active')"
          [class.button-active]="selectedFilter() === 'active'"
        >
          All active
        </button>
        <button
          (click)="selectedFilter.set('waiting')"
          [class.button-active]="selectedFilter() === 'waiting'"
        >
          Waiting
        </button>
        <button
          (click)="selectedFilter.set('inprogress')"
          [class.button-active]="selectedFilter() === 'inprogress'"
        >
          In progress
        </button>
        <button
          (click)="selectedFilter.set('complete')"
          [class.button-active]="selectedFilter() === 'complete'"
        >
          Complete
        </button>
      </div>
      @switch (selectedFilter()) {
        @case ('active') {
          @for (order of activeOrders(); track order.id) {
            <app-service-card [order]="order" />
          }
        }
        @case ('waiting') {
          @for (order of waitingOrders(); track order.id) {
            <app-service-card [order]="order" />
          }
        }
        @case ('inprogress') {
          @for (order of inProgressOrders(); track order.id) {
            <app-service-card [order]="order" />
          }
        }
        @case ('complete') {
          @for (order of completeOrders(); track order.id) {
            <app-service-card [order]="order" />
          }
        }
      }
    </div>
  </div>

  @if (uiState.showCheckIn()) {
    <app-checkin-modal />
  }
</div>
