* {
  font-family: verdana;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  max-height: 80dvh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.category-label {
  font-size: 0.65rem;
  color: #888;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid #bbb;
  width: 100%;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

input {
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: black !important;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-color: #888 transparent;
}

.no-select {
  user-select: none;
}

.page-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
  max-height: 100%;
  scrollbar-width: none;
}

.page-container::-webkit-scrollbar {
  width: 6px;
}

.page-container::-webkit-scrollbar-track {
  background: transparent;
}

.page-container::-webkit-scrollbar-button {
  display: none;
}

.page-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.page-container::-webkit-scrollbar {
  display: none;
}
