* {
  font-family: verdana;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.category-label {
  font-size: 0.65rem;
  color: #888;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid #bbb;
  width: 100%;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}
